Creating the Dataset

In [25]:
record = {'1001': {'name': 'wafer', 'pr': 20, 'qn': 1000},
              '1002': {'name': 'Drink', 'pr': 85, 'qn': 200},
              '1003': {'name': 'Candy', 'pr': 5, 'qn': 1000},
              '1004': {'name': 'brown rice', 'pr': 2000, 'qn': 300},
              '1005': {'name': 'pasta', 'pr': 200, 'qn': 100},
              '1006': {'name': 'eggs[dozen]', 'pr': 89, 'qn': 1000},
              '1007': {'name': 'dark chocolate', 'pr': 599, 'qn': 500},
              '1008': {'name': 'donut', 'pr': 150, 'qn': 300},
              '1009': {'name': 'ice-cream', 'pr': 280, 'qn': 100},
              '1010': {'name': 'shoes', 'pr': 2800, 'qn': 200},
              '1011': {'name': 'clock', 'pr': 299, 'qn': 300},
              '1012': {'name': 'almonds', 'pr': 299, 'qn': 50},
              '1013': {'name': 'cake', 'pr': 300, 'qn': 100},
              '1014': {'name': 'cookie', 'pr': 50, 'qn': 250},
              '1015': {'name': 'milk', 'pr': 79, 'qn': 500},
              '1016': {'name': 'cheese', 'pr': 299, 'qn': 450},
              '1017': {'name': 'corn flakes', 'pr': 399, 'qn': 400},
              '1018': {'name': 'bread', 'pr': 199, 'qn': 2000},
              '1019': {'name': 'honey', 'pr': 200, 'qn': 59},
              '1020': {'name': 'peanut butter', 'pr': 599, 'qn':200},
              '1021': {'name': 'coffee powder', 'pr': 150, 'qn':400},
              '1022': {'name': 'milk shake', 'pr': 69, 'qn': 2000},
              '1023': {'name': 'lemonade', 'pr': 59, 'qn': 2000},
              '1024': {'name': 'water bottle', 'pr': 29, 'qn': 2000},
              '1025': {'name': 'Chocolate candy', 'pr': 19, 'qn': 1000},
              '1026': {'name': 'candy bar', 'pr': 10, 'qn': 10000},
              '1027': {'name': 'apple pie', 'pr': 199, 'qn': 500},
              '1028': {'name': 'pizza', 'pr': 399, 'qn': 500},
              '1029': {'name': 'pancake', 'pr': 295, 'qn': 40},
              '1030': {'name': 'biscuits', 'pr': 25, 'qn': 1000}
             }

print("Dataset has been created")

Dataset has been created

Adding the dataset to **record json file**

In [26]:
import json
js = json.dumps(record)

fd = open("record.json",'w')
fd.write(js)
fd.close()

Reading the json file

In [27]:
fd = open("record.json",'r')
r = fd.read()
fd.close()

record = json.loads(r)

Importing **Req Libraries**

In [28]:
import pandas as pd
from IPython.display import display

**Access management**

In [41]:
user_id,password_id = "anupama",2278

role=input("Enter your role : ")
if role=="admin" :
    user=input("Enter Username : ")
    password = int(input("Enter Password : "))
    while(True):
      if ( user==user_id and password==password_id ):
          print("You've successfully logged in as Admin...")
          add_del=input("Do you want to add or delete : ")
          if add_del == "add" :
              prod_id = str(input("Enter product id that need to be added : "))
              name = str(input("Enter name of the product : "))
              pr = int(input("Enter price of the product : "))
              qn = int(input("Enter quantity of the product : "))
              record[prod_id] = {'name': name, 'pr': pr, 'qn': qn}
              js_add = json.dumps(record)
              fd = open("record.json",'w')
              fd.write(js_add)
              fd.close()
              print("Congratulations, you've successfully added the Item...")
              repeat_admin=input("Do you want to add or delete a file again? Enter Yes or No: ")
              if( repeat_admin == "Yes" ):
                continue
              elif( repeat_admin == "No" ):
                print("Thank you for logging in!!")
                break
          elif add_del == "delete" :
              ask_user = input("Do you want to view the Dataset? Enter Yes or No: ")
              if(ask_user == "Yes"):
                ds = pd.DataFrame(record)
                print("The Record View : ")
                display(ds.transpose())
              elif(ask_user == "No"):
                print("Okay, no issues")
              product_id = str(input("Enter product id: "))
              del record[product_id]
              js_del = json.dumps(record)
              fd = open("record.json",'w')
              fd.write(js_del)
              fd.close()
              print("You've successfully deleted the Item...")
              repeat_user=input("Do you want to add or delete a file again? Enter Yes or No: ")
              if( repeat_user == "Yes" ):
                continue
              elif( repeat_user == "No" ):
                print("Thank you for logging in")
                break
          else :
              print("please enter valid Text..")
      else :
        print("Invalid Credentials...")
        break
elif role=="purchaser":
    print("Hello Purchaser....")
    #print records using pandas to display the list of items
    ask_purchaser = input("Do you want to view the Dataset? Enter Yes or No: ")
    if(ask_purchaser == "Yes"):
      ds = pd.DataFrame(record)
      print("The Record View : ")
      display(ds.transpose())
    elif(ask_purchaser == "No"):
      print("Okay, no issues")
    ui_prod  = str(input("Enter the product_Id of the item you want to purchase: "))
    ui_quant = int(input("Enter the quantity : "))
    if(ui_quant > record[ui_prod]['qn']) :
          print("Entered quantity is out of range...")
    else :
      print("-----------------------------------")
      print("Product: ", record[ui_prod]['name'])
      print("Price: ", record[ui_prod]['pr'])
      print("-----------------------------------")
      print("Billing Amount: ", record[ui_prod]['pr'] * ui_quant)

      record[ui_prod]['qn'] = record[ui_prod]['qn'] - ui_quant
      js = json.dumps(record)
      fd = open("record.json",'w')
      fd.write(js)
      fd.close()

Hello Purchaser....
The Record View :

                 name    pr     qn
1001            wafer    20    980
1002            Drink    85    200
1003            Candy     5   1000
1004       brown rice  2000    300
1005            pasta   200    100
1006      eggs[dozen]    89   1000
1007   dark chocolate   599    500
1008            donut   150    300
1009        ice-cream   280    100
1010            shoes  2800    200
1011            clock   299    300
1012          almonds   299     50
1013             cake   300    100
1014           cookie    50    250
1015             milk    79    500
1016           cheese   299    450
1017      corn flakes   399    400
1018            bread   199   2000
1019            honey   200     59
1020    peanut butter   599    NaN
1021    coffee powder   150    NaN
1022       milk shake    69   2000
1023         lemonade    59   2000
1024     water bottle    29   2000
1025  Chocolate candy    19   1000
1026        candy bar    10  10000
1027        apple pie   199    500
1028            pizza   399    500
1029          pancake   295     40
1030         biscuits    25   1000
1031             oats   200    299

-----------------------------------
Product:  shoes
Price:  2800
-----------------------------------
Billing Amount:  8400

In [42]:
from datetime import datetime
now_method = datetime.now()
currentTime = now_method.strftime("%H:%M:%S")

In [43]:
sales={ui_prod : {'qn' : ui_quant, 'amount gained': record[ui_prod]['pr'] * ui_quant, 'time': currentTime}}

In [14]:
js_sale = json.dumps(sales)

fd = open("sales.json",'w')
fd.write(js_sale)
fd.close()

In [44]:
with open("sales.json", "r+") as file:

    data = json.load(file)

    data.update(sales)

    file.seek(0)

    json.dump(data, file)